// colors
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
$color-1: #3e585f; // green dark
$color-2: #f82f53; // crimson
$color-3: #47374e; // purple
$color-4: #ffffff; // white

// fonts 

$primary-font:  'Quicksand', sans-serif;